.md.js-md_callback
	.md__overlay
	.md__container
		.md__inner
			.md-close.js-md-close Закрыть
			.md__header
				.md__title Заявка на обратный звонок 
			.md__content
				form.form.form-callback.js-modal-form-callback(action="/ajax/callback.php" method="POST")
					.form__title.txt-center Наш специалист свяжется с Вами в течение 15 минут
					.form__group
						.row
							.col.col-6
								.form__item
									input.form-control.form__input._required(autocomplete="off" type="text" name="name" value="" _required data-type="text")
									label.form__label Имя
							.col.col-6
								.form__item
									input.form-control.form__input._required(type="text" name="phone" value="" _required data-type="phone")
									label.form__label Телефон
						.form__item.form__item-btn.txt-center
							button.btn.btn_small.js-form-submit.js-callback-submit(type="submit")
								span Отправить