section.section.section_second
  .container
    .section__ttl
      h2.ttl.ttl_h2 Самый углубленный курс
      .subttl Ты действительно научишься делать преображение взгляда.
    .section__content.col-8.col-sm-12
      p Тебе расскажут максимально доходчиво всё: от организации своего рабочего <br/>пространства до реализации в жизнь счастливых лиц с идеальными бровями!
      p Самые распространённые страхи начинающих мастеров:
      ul.list
        li Как не накупить лишнего рабочего материала?
        li Как не накосячить на своих первых работах?
        li Где найти благодарных клиентов?
        li Как правильно строить общение с человеком?
        li Что такое личное пространство?
      <br/>
      p Ведь работа мастера это не только пинцет и парочка тюбиков с краской!
      .subttl
        strong
          a.no-border(href="#")
            span #НЕПРОБРОВИ
      p Отдельный блок теории, в котором тебе расскажут о том, как строить не только брови, но и свой карьерный рост!
