section#for.section.section_for(data-section="for")
	.container
		.section__ttl
			h2.ttl.ttl_h2 Для кого
		.row
			.col.col-6.txt-right
				h3.ttl.ttl_h3 Новичку
				.content
					b Быстрый старт
					p Кто никогда не держал в руках пинцет, но очень хочет начать и делать это грамотно.
					p Тем, кто хочет сменить профессию или найти себя в чем-то новомкто получил первое некачественное «броу» образование и все ещё не чувствует своей уверенности
					p Через месяц ты догонишь профессионалов по качеству. Начнешь сразу по эффективным методам, не тратя годы на эксперименты
			.col.col-6.txt-left
				h3.ttl.ttl_h3 Профессионалу
				.content 
					b Систематизация знаний
					p Тем, кто уже работает в сфере красоты на смежных профессиях и хочет получить новые возможности для заработка
					p Тем, кто давно работает в данной сфере, но хочет обновить знания и действительно полюбить то, что он делает
					p После курса у тебя появится структура, ты увеличишь скорость работы, узнаешь практические фишни, которые используют в студии
		button.btn.js-scroll-to(data-scrollto="order")
			span Записаться на обучение