section#programm.section.section_format
	.container
		.section__ttl
			h2.ttl.ttl_h2.center Программа курса
			.subttl Моя задача — дать вам фундаментальные знания, которые будут актуальны всегда.
			.txt.col-8
				p Меньше слов, больше дела. Все теоретические знания вы будете сразу же применять на практике под внимательным руководством наставника.
		.content
			.b-stage.js-stages
				.stage__list
					.stage__item
						.stage__item-header
							.stage__item-day 1 день
							.stage__item-title Убойная теория
							.stage__item-arrow
								svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="ListItem__arrow")
									path(d="M12.036 10.95l-4.268 4.268a1 1 0 0 1-1.414-1.415l4.95-4.95a.997.997 0 0 1 .732-.292c.264-.007.53.09.732.293l4.95 4.95a1 1 0 1 1-1.415 1.414l-4.267-4.268z" id="a")
						.stage__item-content
							ul.list.stage__item-list
								li Огранизация рабочего места и инструменты
								li Набор новичка: как не накупить лишнего
								li Дезинфекция 
								li Грамотная работа с клиентами, погружение в профессию
								li Работа в салоне и на дому, все плюсы и минусы
								li #НЕПРОБРОВИ или что такое вообще сфера услуг и с чем можно столкнуться только входя в профессию
								li Начало работы с бровями
								li История, роль и влияние бровей
								li Виды оформления (пинцет/воск)
								li Архитектура бровей и различные виды построения 
								li Работа и знакомство с Броу-пастой, линейками, штанген-циркулем
								li Авторская техника постановки руки на работу с пинцетом
								li Знакомство с декоративной косметикой
								li Возможна первая пробная отработка на себе с пинцетом и косметическими средствами 
								li Домашнее задание
					.stage__item
						.stage__item-header
							.stage__item-day 2 день
							.stage__item-title Практика
							.stage__item-arrow
								svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="ListItem__arrow")
									path(d="M12.036 10.95l-4.268 4.268a1 1 0 0 1-1.414-1.415l4.95-4.95a.997.997 0 0 1 .732-.292c.264-.007.53.09.732.293l4.95 4.95a1 1 0 1 1-1.415 1.414l-4.267-4.268z" id="a")
						.stage__item-content
							ul.list.stage__item-list
								li Разбор домашнего задания и ответы на вопросы
								li Знакомство с различными химическими красителями
								li Разбор разных марок и их отличия
								li Разбор различных оксидов (проявитель цвета)
								li Разведение и нанесение красителей, разбираем цветовую палитру
								li Показ на <b>1</b> модели от тренера
								li Отработка на <b>2</b> моделях
					.stage__item
						.stage__item-header
							.stage__item-day 3 день
							.stage__item-title Отработка
							.stage__item-arrow
								svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="ListItem__arrow")
									path(d="M12.036 10.95l-4.268 4.268a1 1 0 0 1-1.414-1.415l4.95-4.95a.997.997 0 0 1 .732-.292c.264-.007.53.09.732.293l4.95 4.95a1 1 0 1 1-1.415 1.414l-4.267-4.268z" id="a")
						.stage__item-content
							ul.list.stage__item-list
								li Знакомство с хной
								li Разбор различных марок хны
								li Разрушение мифов об этом красителе
								li Разведение и нанесение хны
								li Показ на 1 модели от тренера
								li Отработка на 2 моделях
					.stage__item
						.stage__item-header
							.stage__item-day 4 день
							.stage__item-title Закрепление
							.stage__item-arrow
								svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="ListItem__arrow")
									path(d="M12.036 10.95l-4.268 4.268a1 1 0 0 1-1.414-1.415l4.95-4.95a.997.997 0 0 1 .732-.292c.264-.007.53.09.732.293l4.95 4.95a1 1 0 1 1-1.415 1.414l-4.267-4.268z" id="a")
						.stage__item-content
							ul.list.stage__item-list
								li Мужская коррекция и ее особенности 
								li Тренд: соболиные брови
								li <strong>Ламинирование бровей</strong>: что это и для чего
								li Разбор различных составов для ламинирования бровей
								li <strong>Ламинирование бровей</strong> vs Долговременная укладка
								li Грамотная технология проведения процедуры: как не спалить брови
								li Противопоказания к процедуре
								li Что происходит с волосами на клеточном уровне во время этой процедуры 
								li Показ на 1 модели от тренера
								li Отработка на 1 модели 
					.stage__item
						.stage__item-header
							.stage__item-day 5 день
							.stage__item-title Финал
							.stage__item-arrow
								svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="ListItem__arrow")
									path(d="M12.036 10.95l-4.268 4.268a1 1 0 0 1-1.414-1.415l4.95-4.95a.997.997 0 0 1 .732-.292c.264-.007.53.09.732.293l4.95 4.95a1 1 0 1 1-1.415 1.414l-4.267-4.268z" id="a")
						.stage__item-content
							ul.list.stage__item-list
								li Ответы на вопросы
								li Грамотное ведение контента
								li Повышение квалификации и что это значит для мастера
								li Как красиво запечатлеть свои работы
								li 3 дипломные отработки на моделях
								li Выдача именного диплома и фуршет
		.txt-center
			button.btn.js-scroll-to(data-scrollto="order")
				span Записаться на обучение