section#about.section.section_about(data-section="about")
	.section__container
		.container
			.section__ttl.txt-center
				h2.ttl.ttl_h2 Рина Кудряшова
			.section__content
				.row
					.col.col-8.col-md-12
						p Мастер по оформлению бровей и ресниц с опытом более <b>5000 процедур</b>.
						p Призёр и судья международных чемпионатов по <b>оформлению взгляда</b>:
						ul.list
							li 👉🏻11-кратный призёр международных lash/brow чемпионатов 
							li 👉🏻Основатель студии дизайна взгляда «WOBROW»
							li 👉🏻Практикующий мастер и преподаватель базовых и повышающих курсов для brow-мастеров
							li 👉🏻Обладатель более 40 сертификатов по повышению квалификации в индустрии красоты
							li 👉🏻Чемпионат ILC by Orlataya Irina 2017 - 2 место ламинирование ресниц 
							li 👉🏻Чемпионат ILC by Orlataya Irina 2017 - Спецприз за лучшую работу в ламинировании ресниц по мнению судьи Алены Сабановой
							li 👉🏻BrowFest 2017 - 2 место ламинирование бровей
							li 👉🏻Чемпионат ILC by Orlataya Irina 2018 - 3 место ламинирование ресниц
							li 👉🏻Чемпионат ILC by Orlataya Irina 2018 - 1 место оформление и окрашивание бровей
							li 👉🏻Universe Online Competition 2018 - 1 место оформление и окрашивание бровей 
							li 👉🏻LashDesigner 2018 - 2 место ламинирование ресниц
							li 👉🏻BrowFest 2018 - 3 место коррекция и макияж бровей
							li 👉🏻BrowFest 2018 - 3 место ламинирование бровей 
							li 👉🏻BrowFest 2018 - 2 место Декоративное оформление бровей 
							li 👉🏻BrowFest 2018 - 1 место Оформление и окрашивание бровей
							li 👉🏻BrowFest 2018 - Гран-При в секции «BROWMASTER»
							li 👉🏻судья чемпионата оформления взгляда Кристины Дарат, 2018 г. Краснодар
							li 👉🏻судья третьего онлайн-чемпионата по оформлению взгляда NordBeauty 2018
							li 👉🏻судья первого чемпионата по оформлению взгляда «АзияФест» 2019, г. Улан-Удэ
							li 👉🏻судья финала международного чемпионата по оформлению бровей «BROWFEST» 2019, г. Краснодар
				
		.rina
			img(src="img/katherine.png")
