//- section.section.section_features
//- 	.container
//- 		.section__ttl
//- 			h2.ttl.ttl_h2 Заголовок для блока 2
//- 		.row.features
//- 			.col.col-3.features__item 
//- 				.features__item-icon
//- 				h3.ttl.ttl_h3 Группы 2-4 человека
//- 			.col.col-3.features__item
//- 				.features__item-icon
//- 				h3.ttl.ttl_h3 5 дней
//- 			.col.col-3.features__item
//- 				.features__item-icon
//- 				h3.ttl.ttl_h3 9 отработок на реальных людях
//- 			.col.col-3.features__item
//- 				.features__item-icon
//- 				h3.ttl.ttl_h3 Домашние задания
//- 		.row
//- 			.col.col-6
//- 				.information
//- 					p Расходные материалы, модели (по желанию) и материалы для работы предоставляются на время обучения. В стоимость входит подарочный рабочий набор «пинцет+кисть»
section.section.section_second
	.container
		.section__ttl
			h2.ttl.ttl_h2 Самый углубленный курс по бровям
			.subttl Ты действительно научишься делать преображение взгляда.
		.section__content.col-9
			p Если ты давно искала максимально информативный и полный <strong>курс по оформлению бровей</strong> с большим количеством отработки, то ты его только что нашла!