section.section.section_hello
	.container
		.row
			.col.col-6.col-md-12
				h1.ttl.ttl_main Курс по оформлению бровей
			.col.col-6.col-md-12
				.hello-video
					button.btn-play
						svg(width="76" height="76" viewBox="0 0 76 76" preserveAspectRatio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink")
							path(d="M53.8230453,36.4639805 L32.3168724,24.3186813 C31.5322359,23.8937729 30.7475995,23.8937729 30.0342936,24.3186813 C29.3209877,24.7435897 29,25.5225885 29,26.3015873 L29,50.6630037 C29,51.4420024 29.4279835,52.2210012 30.0342936,52.6459096 C30.3909465,52.8229548 30.81893,53 31.2469136,53 C31.6748971,53 32.0315501,52.8229548 32.2812071,52.6459096 L53.78738,40.5006105 C54.5720165,40.0757021 55,39.2967033 55,38.5177045 C55,37.7387057 54.6076818,36.995116 53.8230453,36.4639805 Z" stroke="none")
		.row
			.col.col-6
				.subttl
					a.no-border(href="#") 
						span #НЕПРОБРОВИ
				.txt
					p Самые распространённые страхи начинающих мастеров: как не накосячить и где найти благодарных клиентов? Как правильно строить общение с человеком и что такое личное пространство? Ведь работа мастера это не только пинцет и парочка тюбиков с краской!
			.col.col-6
				.txt
					p <b>Тотальное погружение</b> в профессию! Впервые обучение будет проходить <b>5 интенсивных дней</b>, за которые тебе расскажут все нюансы работы с клиентами и их бровями. Всё «от и до» в теории и на практике.
					p Расскажут максимально доходчиво всё: от организации своего рабочего пространства до реализации в жизнь счастливых лиц с идеальными бровями!
				button.btn.js-show_modal_order
					span Записаться на обучение