doctype html
html
	include inc/head
	body
		.layout
			include inc/header
			main.main
				include inc/section_hello
				include inc/section_2
				include inc/section_for
				include inc/section_course
				include inc/section_about
				include inc/section_order
		include inc/footer
		include inc/modal
